$primary-color: #000000;
$secondary-color: #ffffff;
$third-color: #545454;
$accent-color: #ff6b08;


//header-variables
$header-shadow: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56));

// shadows-variables
$box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);

//button-variables
$btn-color: #ff6b01;

//body-variables
$bgn-color: #E5E5E5;// бекграунд контейнера с картинками
$primary-font: Roboto, sans-serif;
