<div class="backdrop is-hidden" data-footerModal id="footerModal">
   <div class="container-text-centered footerModal">
      <button type="button" class="footerModalClose" id="footerModalClose" aria-label="modal close" name="modal close">
         <svg width="20" height="20">
            <use href="./images/symbol-defs.svg#icon-close"></use>
         </svg>
      </button>
      <h2 class="comand">Our Team</h2>
      <ul class="comand-list" id="footerTeam">
         <li class="comand-item">
            <img
               src="./images/team/serhiy.webp"
               alt="Team Lead"
               class="comand-item-img"
               width="177"
               height="220"
            />
            <div class="comand-item-wrapper">
               <h3 class="comand-title" id="serhiiTitle">Serhii</h3>
               <p class="comand-text" id="serhiiText">Team Lead</p>
               <ul class="comand-link-list">
                  <li class="comand-link-item">
                     <a
                        href="https://github.com/SerhiiOnyshchenko"
                        class="comand-link-item-social"
                        target="_blank"
                        rel="noopener noreferrer"
                     >
                        <svg
                           class="comand-link-item-svg"
                           width="20"
                           height="20"
                        >
                           <use
                              href="./images/symbol-defs.svg#icon-github"
                           ></use>
                        </svg>
                     </a>
                  </li>
                  <li class="comand-link-item">
                     <a
                        href="https://www.linkedin.com/in/%D1%81%D0%B5%D1%80%D0%B3%D1%96%D0%B9-%D0%BE%D0%BD%D0%B8%D1%89%D0%B5%D0%BD%D0%BA%D0%BE-045b6a184/"
                        class="comand-link-item-social"
                        target="_blank"
                        rel="noopener noreferrer"
                     >
                        <svg
                           class="comand-link-item-svg"
                           width="20"
                           height="20"
                        >
                           <use
                              href="./images/symbol-defs.svg#icon-linkedin"
                           ></use>
                        </svg>
                     </a>
                  </li>
               </ul>
            </div>
            <div class="comand-item-card-action">
               <ul class="comand-item-card-list">
                  <li class="comand-item-card-item"><p class="comand-item-card-text" id="comand-item-card-text1">User registration / authentication via Firebase</p></li>
                  <li class="comand-item-card-item"><p class="comand-item-card-text" id="comand-item-card-text2">Loading actors, information about actors</p></li>
                  <li class="comand-item-card-item"><p class="comand-item-card-text" id="comand-item-card-text3">Record search parameters in the URL and read on reboot</p></li>
                  <li class="comand-item-card-item"><p class="comand-item-card-text" id="comand-item-card-text4">Search by genre</p></li>
               </ul>
            </div>
         </li>

         <li class="comand-item">
            <img
               src="./images/team/anastasia.webp"
               alt="Scrum"
               class="comand-item-img"
               width="177"
               height="220"
            />
            <div class="comand-item-wrapper">
               <h3 class="comand-title" id="anastasiiaTitle">Anastasiia</h3>
               <p class="comand-text" id="anastasiiaText">Scrum</p>
               <ul class="comand-link-list">
                  <li class="comand-link-item">
                     <a
                        href="https://github.com/LadyNenAdams"
                        class="comand-link-item-social"
                        target="_blank"
                        rel="noopener noreferrer"
                     >
                        <svg
                           class="comand-link-item-svg"
                           width="20"
                           height="20"
                        >
                           <use
                              href="./images/symbol-defs.svg#icon-github"
                           ></use>
                        </svg>
                     </a>
                  </li>
                  <li class="comand-link-item">
                     <a
                        href="https://www.linkedin.com/in/anastasiia-balhabaieva-830497194/"
                        class="comand-link-item-social"
                        target="_blank"
                        rel="noopener noreferrer"
                     >
                        <svg
                           class="comand-link-item-svg"
                           width="20"
                           height="20"
                        >
                           <use
                              href="./images/symbol-defs.svg#icon-linkedin"
                           ></use>
                        </svg>
                     </a>
                  </li>
               </ul>
            </div>
            <div class="comand-item-card-action">
               <ul class="comand-item-card-list">
                  <li class="comand-item-card-item"><p class="comand-item-card-text" id="comand-item-card-text5">Dark mode</p></li>
                  <li class="comand-item-card-item"><p class="comand-item-card-text" id="comand-item-card-text6">Header layout for main and my library pages</p></li>
                  <li class="comand-item-card-item"><p class="comand-item-card-text" id="comand-item-card-text7">Search and display movies by keyword</p></li>
               </ul>
            </div>
         </li>

         <li class="comand-item">
            <img
               src="./images/team/ya.webp"
               alt="Developer"
               class="comand-item-img"
               width="177"
               height="220"
            />
            <div class="comand-item-wrapper">
               <h3 class="comand-title" id="dmitriyTitle">Dmitriy</h3>
               <p class="comand-text" id="dmitriyText">Developer</p>
               <ul class="comand-link-list">
                  <li class="comand-link-item">
                     <a
                        href="https://github.com/KizievDmitriy/"
                        class="comand-link-item-social"
                        target="_blank"
                        rel="noopener noreferrer"
                     >
                        <svg
                           class="comand-link-item-svg"
                           width="20"
                           height="20"
                        >
                           <use
                              href="./images/symbol-defs.svg#icon-github"
                           ></use>
                        </svg>
                     </a>
                  </li>
                  <li class="comand-link-item">
                     <a
                        href="https://www.linkedin.com/in/dmytro-kiziiev-469991b9/"
                        class="comand-link-item-social"
                        target="_blank"
                        rel="noopener noreferrer"
                     >
                        <svg
                           class="comand-link-item-svg"
                           width="20"
                           height="20"
                        >
                           <use
                              href="./images/symbol-defs.svg#icon-linkedin"
                           ></use>
                        </svg>
                     </a>
                  </li>
               </ul>
            </div>
            <div class="comand-item-card-action">
               <ul class="comand-item-card-list">
                  <li class="comand-item-card-item"><p class="comand-item-card-text" id="comand-item-card-text8">Footer layout</p></li>
                  <li class="comand-item-card-item"><p class="comand-item-card-text" id="comand-item-card-text9">Footer modal layout</p></li>
                  <li class="comand-item-card-item"><p class="comand-item-card-text" id="comand-item-card-text10">Loading trailer</p></li>
                  <li class="comand-item-card-item"><p class="comand-item-card-text" id="comand-item-card-text11">Button when scrolling down</p></li>
                  <li class="comand-item-card-item"><p class="comand-item-card-text" id="comand-item-card-text12">Logo animation</p></li>
               </ul>
            </div>
         </li>

         <li class="comand-item">
            <img
               src="./images/team/Iliya.webp"
               alt="Developer"
               class="comand-item-img"
               width="177"
               height="220"
            />
            <div class="comand-item-wrapper">
               <h3 class="comand-title"  id="illiaTitle">Illia</h3>
               <p class="comand-text" id="illiaText">Developer</p>
               <ul class="comand-link-list">
                  <li class="comand-link-item">
                     <a
                        href="https://github.com/IlliaBekarevych"
                        class="comand-link-item-social"
                        target="_blank"
                        rel="noopener noreferrer"
                     >
                        <svg
                           class="comand-link-item-svg"
                           width="20"
                           height="20"
                        >
                           <use
                              href="./images/symbol-defs.svg#icon-github"
                           ></use>
                        </svg>
                     </a>
                  </li>
                  <li class="comand-link-item">
                     <a
                        href="https://www.linkedin.com/in/%D0%B8%D0%BB%D1%8C%D1%8F-%D0%B1%D0%B5%D0%BA%D0%B0%D1%80%D0%B5%D0%B2%D0%B8%D1%87-1203751a8/"
                        class="comand-link-item-social"
                        target="_blank"
                        rel="noopener noreferrer"
                     >
                        <svg
                           class="comand-link-item-svg"
                           width="20"
                           height="20"
                        >
                           <use
                              href="./images/symbol-defs.svg#icon-linkedin"
                           ></use>
                        </svg>
                     </a>
                  </li>
               </ul>
            </div>
            <div class="comand-item-card-action">
               <ul class="comand-item-card-list">
                  <li class="comand-item-card-item">
                     <p class="comand-item-card-text" id="comand-item-card-text13">Spinner connection for asynchronous queries</p>
                  </li>
                  <li class="comand-item-card-item">
                     <p class="comand-item-card-text" id="comand-item-card-text14">Display the home page after clicking on the Home / logo</p>
                  </li>
                  <li class="comand-item-card-item">
                     <p class="comand-item-card-text" id="comand-item-card-text15">Display the user library</p>
                  </li>
               </ul>
            </div>
         </li>

         <li class="comand-item">
            <img
               src="./images/team/maksim.webp"
               alt="Developer"
               class="comand-item-img"
               width="177"
               height="220"
            />
            <div class="comand-item-wrapper">
               <h3 class="comand-title" id="maksymTitle">Maksym</h3>
               <p class="comand-text"id="maksymText">Developer</p>
               <ul class="comand-link-list">
                  <li class="comand-link-item">
                     <a
                        href="https://github.com/p0shta"
                        class="comand-link-item-social"
                        target="_blank"
                        rel="noopener noreferrer"
                     >
                        <svg
                           class="comand-link-item-svg"
                           width="20"
                           height="20"
                        >
                           <use
                              href="./images/symbol-defs.svg#icon-github"
                           ></use>
                        </svg>
                     </a>
                  </li>
                  <li class="comand-link-item">
                     <a
                        href="#"
                        class="comand-link-item-social"
                        target="_blank"
                        rel="noopener noreferrer"
                     >
                        <svg
                           class="comand-link-item-svg"
                           width="20"
                           height="20"
                        >
                           <use
                              href="./images/symbol-defs.svg#icon-linkedin"
                           ></use>
                        </svg>
                     </a>
                  </li>
               </ul>
            </div>
            <div class="comand-item-card-action">
               <ul class="comand-item-card-list">
                  <li class="comand-item-card-item"><p class="comand-item-card-text" id="comand-item-card-text16">Add to queue</p></li>
                  <li class="comand-item-card-item"><p class="comand-item-card-text" id="comand-item-card-text17">Add to watched</p></li>
                  <li class="comand-item-card-item"><p class="comand-item-card-text" id="comand-item-card-text18">Home page container layout</p></li>
                  <li class="comand-item-card-item"><p class="comand-item-card-text" id="comand-item-card-text19">One movie card template layout</p></li>
               </ul>
            </div>
         </li>

         <li class="comand-item">
            <img
               src="./images/team/vlad.webp"
               alt="Developer"
               class="comand-item-img"
               width="177"
               height="220"
            />
            <div class="comand-item-wrapper">
               <h3 class="comand-title" id="vladTitle">Vlad</h3>
               <p class="comand-text"id="vladText">Developer</p>
               <ul class="comand-link-list">
                  <li class="comand-link-item">
                     <a
                        href="https://github.com/Vlad-Petrenko"
                        class="comand-link-item-social"
                        target="_blank"
                        rel="noopener noreferrer"
                     >
                        <svg
                           class="comand-link-item-svg"
                           width="20"
                           height="20"
                        >
                           <use
                              href="./images/symbol-defs.svg#icon-github"
                           ></use>
                        </svg>
                     </a>
                  </li>
                  <li class="comand-link-item">
                     <a
                        href="https://www.linkedin.com/in/vlad-petrenko"
                        class="comand-link-item-social"
                        target="_blank"
                        rel="noopener noreferrer"
                     >
                        <svg
                           class="comand-link-item-svg"
                           width="20"
                           height="20"
                        >
                           <use
                              href="./images/symbol-defs.svg#icon-linkedin"
                           ></use>
                        </svg>
                     </a>
                  </li>
               </ul>
            </div>
            <div class="comand-item-card-action">
               <ul class="comand-item-card-list">
                  <li class="comand-item-card-item"><p class="comand-item-card-text" id="comand-item-card-text20">Close the modal by pressing the ESC key and clicking</p></li>
                  <li class="comand-item-card-item"><p class="comand-item-card-text" id="comand-item-card-text21">Add dynamically based movie information by tapping a movie card</p></li>
               </ul>
            </div>
         </li>

         <li class="comand-item">
            <img
               src="./images/team/vladimir.webp"
               alt="Developer"
               class="comand-item-img"
               width="177"
               height="220"
            />
            <div class="comand-item-wrapper">
               <h3 class="comand-title" id="vladimirTitle">Vladimir</h3>
               <p class="comand-text"id="vladimirText">Developer</p>
               <ul class="comand-link-list">
                  <li class="comand-link-item">
                     <a
                        href="https://github.com/Vova-KE"
                        class="comand-link-item-social"
                        target="_blank"
                        rel="noopener noreferrer"
                     >
                        <svg
                           class="comand-link-item-svg"
                           width="20"
                           height="20"
                        >
                           <use
                              href="./images/symbol-defs.svg#icon-github"
                           ></use>
                        </svg>
                     </a>
                  </li>
                  <li class="comand-link-item">
                     <a
                        href="#"
                        class="comand-link-item-social"
                        target="_blank"
                        rel="noopener noreferrer"
                     >
                        <svg
                           class="comand-link-item-svg"
                           width="20"
                           height="20"
                        >
                           <use
                              href="./images/symbol-defs.svg#icon-linkedin"
                           ></use>
                        </svg>
                     </a>
                  </li>
               </ul>
            </div>
            <div class="comand-item-card-action">
               <ul class="comand-item-card-list">
                  <li class="comand-item-card-item"><p class="comand-item-card-text" id="comand-item-card-text22">My Library page container layout"</p></li>
                  <li class="comand-item-card-item"><p class="comand-item-card-text" id="comand-item-card-text23">Clicking on "Watched" shows watched movies</p></li>
                  <li class="comand-item-card-item"><p class="comand-item-card-text" id="comand-item-card-text24">Clicking on "Queue" shows movies added to the queue</p></li>
               </ul>
               
            </div>
         </li>

         <li class="comand-item">
            <img
               src="./images/team/natali.webp"
               alt="Developer"
               class="comand-item-img"
               width="177"
               height="220"
            />
            <div class="comand-item-wrapper">
               <h3 class="comand-title" id="nataliaTitle">Natalia</h3>
               <p class="comand-text" id="nataliaText">Developer</p>
               <ul class="comand-link-list">
                  <li class="comand-link-item">
                     <a
                        href="https://github.com/NataliaMonasturska"
                        class="comand-link-item-social"
                        target="_blank"
                        rel="noopener noreferrer"
                     >
                        <svg
                           class="comand-link-item-svg"
                           width="20"
                           height="20"
                        >
                           <use
                              href="./images/symbol-defs.svg#icon-github"
                           ></use>
                        </svg>
                     </a>
                  </li>
                  <li class="comand-link-item">
                     <a
                        href="https://www.linkedin.com/in/nataliia-monasturska-64ab96241/"
                        class="comand-link-item-social"
                        target="_blank"
                        rel="noopener noreferrer"
                     >
                        <svg
                           class="comand-link-item-svg"
                           width="20"
                           height="20"
                        >
                           <use
                              href="./images/symbol-defs.svg#icon-linkedin"
                           ></use>
                        </svg>
                     </a>
                  </li>
               </ul>
            </div>
            <div class="comand-item-card-action">
               <ul class="comand-item-card-list">
                  <li class="comand-item-card-item"><p class="comand-item-card-text" id="comand-item-card-text25">Layout template of a film modal</p></li>
                  <li class="comand-item-card-item"><p class="comand-item-card-text" id="comand-item-card-text26">Upload popular movies to the home page</p></li>
                  <li class="comand-item-card-item"><p class="comand-item-card-text" id="comand-item-card-text27">Switch to English/Ukrainian</p></li>
               </ul>
            </div>
         </li>

         <li class="comand-item">
            <img
               src="./images/team/dima.webp"
               alt="Developer"
               class="comand-item-img"
               width="177"
               height="220"
            />
            <div class="comand-item-wrapper">
               <h3 class="comand-title" id="dmitriy2Title">Dmitriy</h3>
               <p class="comand-text" id="dmitriy2Text">Developer</p>
               <ul class="comand-link-list">
                  <li class="comand-link-item">
                     <a
                        href="https://github.com/imavin08"
                        class="comand-link-item-social"
                        target="_blank"
                        rel="noopener noreferrer"
                     >
                        <svg
                           class="comand-link-item-svg"
                           width="20"
                           height="20"
                        >
                           <use
                              href="./images/symbol-defs.svg#icon-github"
                           ></use>
                        </svg>
                     </a>
                  </li>
                  <li class="comand-link-item">
                     <a
                        href="http://www.linkedin.com/in/dima-mykhailov"
                        class="comand-link-item-social"
                        target="_blank"
                        rel="noopener noreferrer"
                     >
                        <svg
                           class="comand-link-item-svg"
                           width="20"
                           height="20"
                        >
                           <use
                              href="./images/symbol-defs.svg#icon-linkedin"
                           ></use>
                        </svg>
                     </a>
                  </li>
               </ul>
            </div>
            <div class="comand-item-card-action">
               <ul class="comand-item-card-list">
                  <li class="comand-item-card-item"><p class="comand-item-card-text" id="comand-item-card-text28">When going to each page, draw the appropriate part of the movies</p>
                  </li>
                  <li class="comand-item-card-item">
                     <p class="comand-item-card-text" id="comand-item-card-text29">PAGINATION LAYOUT</p>
                  </li>
               </ul>
               
            </div>
         </li>
      </ul>
   </div>
</div>
