<div class="backdrop is-hidden" data-footerModal>
    <div class="container-text-centered footerModal">
        <button type="button" class="footerModalClose">
            <svg class="comand-link-item-svg" width="20" height="20">
                <use href="./images/symbol-defs.svg#icon-close"></use>
            </svg>
        </button>
        <h2 class="comand">Наша команда</h2>
        <div class="comand-wrapper">
            <ul class="comand-list">
                <li class="comand-item">
                    <img src="./images/home/mobile/header-bg-home-mobile.webp" alt="Team Lead">
                    <!-- <picture>
                        <source srcset="
                                            ./image/comand/img1desk-1x.jpg 1x,
                                            ./image/comand/img1desk-2x.jpg 2x" media="(min-width: 1200px)">
                        <source srcset="
                                            ./image/comand/img1tab-1x.jpg 1x,
                                            ./image/comand/img1tab-2x.jpg 2x" media="(min-width: 768px)">
                        <source srcset="
                                            ./image/comand/img1mob-1x.jpg 1x,
                                            ./image/comand/img1mob-2x.jpg 2x" media="(min-width: 320px)">
                        <img src="./image/comand/img1desk-1x.jpg" alt="Игорь Демьяненко">
                    </picture> -->
                    <div class="comand-item-wrapper">
                            <h3 class="comand-title">Serhii Onyshchenko</h3>
                            <p class="comand-text">Team Lead</p>
                        <ul class="comand-link-list">
                            <li class="comand-link-item">
                                <a href="#" class="comand-link-item-social" target="_blank" rel="noopener noreferrer" >
                                    <svg class="comand-link-item-svg" width="20" height="20">
                                        <use href="./images/symbol-defs.svg#icon-github"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="comand-link-item">
                                <a href="#" class="comand-link-item-social" target="_blank" rel="noopener noreferrer">
                                    <svg class="comand-link-item-svg" width="20" height="20">
                                        <use href="./images/symbol-defs.svg#icon-linkedin"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="comand-item-card-action">
                        <p class="comand-item-card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste alias debitis magni quae, sunt facilis corrupti. Tempora culpa necessitatibus, dolore a sapiente, odit expedita suscipit deleniti quo ad omnis facilis!</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>