<header class="header" id="header">
   <div class="container header__container">
      <nav class="header__nav">
         <a class="header__logo" id="logo__js" href="">
            <div class="cub_wrapper">
               <div class="cube">
                  <div class="side front">
                     <svg class="header__icon" width="24" height="24">
                        <use href="./images/symbol-defs.svg#icon-film" />
                     </svg>
                  </div>
                  <div class="side back">
                     <svg class="header__icon" width="24" height="24">
                        <use href="./images/symbol-defs.svg#icon-film" />
                     </svg>
                  </div>
                  <div class="side left">
                     <svg class="header__icon" width="24" height="24">
                        <use href="./images/symbol-defs.svg#icon-film" />
                     </svg>
                  </div>
                  <div class="side right">
                     <svg class="header__icon" width="24" height="24">
                        <use href="./images/symbol-defs.svg#icon-film" />
                     </svg>
                  </div>
                  <div class="side top">
                     <svg class="header__icon" width="24" height="24">
                        <use href="./images/symbol-defs.svg#icon-film" />
                     </svg>
                  </div>
                  <div class="side bottom">
                     <svg class="header__icon" width="24" height="24">
                        <use href="./images/symbol-defs.svg#icon-film" />
                     </svg>
                  </div>
               </div>
            </div>
            <span class="header__filmoteka">Filmoteka</span>
         </a>
         <div class="mode">
            <span class="dark-mode">Dark mode:</span>
            <div class="change-container">
               <span class="change">OFF</span>
            </div>
         </div>
         <ul class="header__list">
            <li class="header__item">
               <button class="header__btn current" id="home__js">home</button>
            </li>
            <li class="header__item">
               <button class="header__btn" id="my-library__js">
                  my library
               </button>
            </li>
         </ul>
      </nav>

      <div class="header__form-container" id="header__form">
         <form
            class="header__form"
            name="form"
            autocomplete="off"
            id="form"
            novalidate
         >
            <div class="header__div">
               <label class="form__label">
                  <input
                     class="form__input"
                     type="text"
                     name="search"
                     placeholder="Let's go!"
                  />
               </label>
               <button
                  class="form__btn"
                  type="submit"
                  aria-label="search button"
               >
                  <svg class="form__icon" width="15" height="15">
                     <use href="./images/symbol-defs.svg#icon-search" />
                  </svg>
               </button>
            </div>
            <p id="input-error" class="input-error visually-hidden">
               Search result not successful. Enter the correct movie name.
            </p>
         </form>
      </div>
      <div class="header__btns-container display-none" id="header__btns">
         <ul class="library__btns-list">
            <li class="library__btns-item">
               <button class="library__btn" id="watched">watched</button>
            </li>
            <li class="library__btns-item">
               <button class="library__btn" id="queue">queue</button>
            </li>
         </ul>
      </div>
      <div class="header__box-login-logout">
         <span id="loginUser"></span>
         <button id="btnLoginHeader" class="header__btn-login" type="button">
            Login
         </button>
         <div class="user-menu" id="userMenu">
            <span id="firstLetter" class="user-menu__first-letter"></span>
            <div class="user-menu__box">
               <p class="user-menu__title-hover">Portfolio and setting</p>
               <div class="user-menu__hiden">
                  <ul class="user-menu__list">
                     <li class="user-menu__item" id="userMenuName"></li>
                     <li class="user-menu__item" id="changePassword">
                        Change password
                     </li>
                     <li class="user-menu__item" id="setting">Setting</li>
                     <li class="user-menu__item user-menu__item--btn">
                        <button
                           id="btnLogoutHeader"
                           class="user-menu__btn-logout"
                           type="button"
                        >
                           Logout
                        </button>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
      <div class="header__dropdown">
         <button
            class="header__dropbtn"
            type="button"
            aria-label="dropdown"
         ></button>
         <div class="header__dropdown-content" id="genresList">
            <div class="header__dropdown-btn" data-genre="28">Action</div>
            <div class="header__dropdown-btn" data-genre="12">Adventure</div>
            <div class="header__dropdown-btn" data-genre="16">Animation</div>
            <div class="header__dropdown-btn" data-genre="35">Comedy</div>
            <div class="header__dropdown-btn" data-genre="80">Crime</div>
            <div class="header__dropdown-btn" data-genre="99">Documentary</div>
            <div class="header__dropdown-btn" data-genre="18">Drama</div>
            <div class="header__dropdown-btn" data-genre="10751">Family</div>
            <div class="header__dropdown-btn" data-genre="14">Fantasy</div>
            <div class="header__dropdown-btn" data-genre="36">History</div>
            <div class="header__dropdown-btn" data-genre="27">Horror</div>
            <div class="header__dropdown-btn" data-genre="10402">Music</div>
            <div class="header__dropdown-btn" data-genre="9648">Mystery</div>
            <div class="header__dropdown-btn" data-genre="10749">Romance</div>
            <div class="header__dropdown-btn" data-genre="878">
               Science Fiction
            </div>
            <div class="header__dropdown-btn" data-genre="10770">TV Movie</div>
            <div class="header__dropdown-btn" data-genre="53">Thriller</div>
            <div class="header__dropdown-btn" data-genre="10752">War</div>
            <div class="header__dropdown-btn" data-genre="37">Western</div>
         </div>
      </div>
      <div class="language-container">
         <button class="language ua lang--btn" type="button" aria-label="language ua">
            ua
         </button>
         <button class="language en lang--btn" type="button" aria-label="language en">
            en
         </button>
      </div>
   </div>
</header>
