<div class="backdrop is-hidden">
   <div class="modal-content">
      <button type="button" class="btn-close" data-modal-close>
         <svg class="modal__close-icon">
         <use xlink:href='./images/symbol-defs.svg#icon-close'></use>
         </svg>
      </button>
      <div class="image-container">
         <img src="./images/modalFilm/Rectangle2.jpg" 
         alt="movie poster" />
         <button type="button"  class="trailer__play-btn" aria-label="Trailer" id="trailer">
            <svg class="trailer__svg">
               <use href="./images/symbol-defs.svg#icon-youtube"></use>
            </svg>
         </button>
   </div>

   <div class="container-context">
      <div class="top-content">
      <h2 class="modal-title">A FISTFUL OF LEAD</h2>
      <div class="option-film">
       <div class="properties-film">
       <p class="option-film-p">Vote / Votes</p>
       <p class="option-film-p">Popularity</p>
       <p class="option-film-p">Original Title</p>
       <p class="option-film-p">Genre</p>
       </div>
       <div class="values-film">
       <p class="option-film-p"><span class="vote">7.3</span><span class="slash"> /</span><span  class="votes">1260</span></p>
       <p class="option-film-p">100.2</p>
       <p class="option-film-p values-film-lh">A FISTFUL OF LEAD</p>
       <p class="option-film-p values-film-lh">Western</p>
       </div>
      </div>

      <h3 class="title-modal">About</h3>
      <p class="text-modal">
         About 
Four of the West’s most infamous outlaws assemble to steal a huge stash of gold from the most corrupt settlement of the gold rush towns. But not all goes to plan one is killed and the other three escapes with bags of gold hide out in the abandoned gold mine where they happen across another gang of three – who themselves were planning to hit the very same bank! As tensions rise, things go from bad to worse as they realise the bags of gold are filled with lead... they’ve been double crossed – but by who and how?
      </p>
   </div>

     <div class="btn-container">
      <button type="button" class="btn-modal add-to-watched">add to Watched</button>
      <button type="button" class="btn-modal add-to-queue">add to queue</button>
     </div>
   </div>
   </div>
</div>
<div class="backdrop is-hidden" id="trailer-modal-wrapper">
   <div class="trailer-modal-wrapper"  id="trailer-modal"></div>
</div>

