<!-- <div class="backdrop">
   <div class="modal-content">
      <button class="btn-close">&times;</button>
      <p>
         Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos
         excepturi non sint repudiandae doloribus iure assumenda. Repellendus
         cupiditate neque voluptatum, voluptatibus, labore enim, quisquam
         consectetur iusto quos fugiat inventore modi!
      </p>
   </div>
</div> -->


<div class="backdrop">
   <div class="modal-content">
      <button type="button" class="btn-close" data-modal-close>
         <svg class="modal__close-icon ">
         <use xlink:href='./images/symbol-defs.svg#icon-close' width="125%" height="125%"></use>
         </svg>
      </button>
      <div class="image-container"></div>
      <picture>
         <source
             srcset="./images/modalFilm/Rectangle.jpg 1x,
             ./images/modalFilm/Rectangle2.jpg 2x"
                     
             media="(min-width: 1024px)">
         <source

             srcset="./images/modalFilm/Rectangle-tab.jpg  1x, 
                     ./images/modalFilm/Rectangle-tab2.jpg  2x"
             media="(min-width: 768px)">
         <source
             srcset="./images/modalFilm/Rectangle-mob.jpg  1x, 
         ./images/modalFilm/Rectangle-mob2.jpg 2x"
             media="(min-width: 320px)">
         <img src="./images/modalFilm/Rectangle2.jpg" 
         alt="https://www.reelviews.net/resources/img/default_poster.jpg" />
     </picture>
   </div>
</div>


<!-- <img src='./images/symbol-defs.svg#icon-close' width="14" height="14" alt="X"> -->