<section class="pagination">
   <div class="container">
      <ul class="pagination__list">
         <li class="pagination__item pagination__item--left">
            <button class="pagination__btn--left">
               <svg class="pagination__icon" width="16" height="16">
                  <use href="/src/images/symbol-defs.svg#icon-arrow-left"></use>
               </svg>
            </button>
         </li>
         <li class="pagination__item pagination__item--hidden">
            <button class="pagination__btn">1</button>
         </li>
         <li class="pagination__item pagination__item--hidden">
            <button class="pagination__btn">...</button>
         </li>
         <li class="pagination__item">
            <button class="pagination__btn">13</button>
         </li>
         <li class="pagination__item">
            <button class="pagination__btn">14</button>
         </li>
         <li class="pagination__item">
            <button class="pagination__btn pagination__btn--current">15</button>
         </li>
         <li class="pagination__item">
            <button class="pagination__btn">16</button>
         </li>
         <li class="pagination__item">
            <button class="pagination__btn">17</button>
         </li>
         <li class="pagination__item pagination__item--hidden">
            <button class="pagination__btn">...</button>
         </li>
         <li class="pagination__item pagination__item--hidden">
            <button class="pagination__btn">20</button>
         </li>
         <li class="pagination__item pagination__item--right">
            <button class="pagination__btn--right">
               <svg class="pagination__icon" width="16" height="16">
                  <use
                     href="/src/images/symbol-defs.svg#icon-arrow-right"
                  ></use>
               </svg>
            </button>
         </li>
      </ul>
   </div>
</section>
