<section class="pagination">
   <div class="container">
      <ul class="pagination__list" id="js-pagination__list">
         <!-- <li
            class="pagination__item pagination__item--left"
         >
            <button class="pagination__btn--left">
               <svg class="pagination__icon" width="16" height="16">
                  <use href="/src/images/symbol-defs.svg#icon-arrow-left"></use>
               </svg>
            </button>
         </li> -->
         <!-- <li class="pagination__item pagination__item--hidden">
            <button class="pagination__btn">1</button>
         </li> -->
         <!-- <li class="pagination__item pagination__item--hidden">
            <button class="pagination__btn">...</button>
         </li> -->

         <!-- <li class="pagination__item pagination__item--hidden">
            <button class="pagination__btn">...</button>
         </li> -->
         <!-- <li
            class="pagination__item pagination__item--right"
         >
            <button class="pagination__btn--right">
               <svg class="pagination__icon" width="16" height="16">
                  <use
                     href="/src/images/symbol-defs.svg#icon-arrow-right"
                  ></use>
               </svg>
            </button>
         </li> -->
      </ul>
   </div>
</section>
