<section class="pagination">
   <div class="container pagination__container">
      <button class="pagination__btn--left">
         <svg class="pagination__icon" width="16" height="16">
            <use href="/src/images/symbol-defs.svg#icon-arrow-left"></use>
         </svg>
      </button>

      <button class="pagination__btn pagination__btn--hidden">1</button
      ><button class="pagination__btn pagination__btn--hidden">...</button>

      <button class="pagination__btn">13</button
      ><button class="pagination__btn">14</button
      ><button class="pagination__btn pagination__btn--current">15</button
      ><button class="pagination__btn">16</button
      ><button class="pagination__btn">17</button>

      <button class="pagination__btn pagination__btn--hidden">...</button
      ><button class="pagination__btn pagination__btn--hidden">20</button>

      <button class="pagination__btn--right">
         <svg class="pagination__icon" width="16" height="16">
            <use href="/src/images/symbol-defs.svg#icon-arrow-right"></use>
         </svg>
      </button>
   </div>
</section>
