<div class="register-form__backdrop" id="formLoginRegister">
   <div class="register-form__box" id="container">
      <div class="register-form__container sign-up-container">
         <form
            class="register-form__sign-up"
            name="form"
            id="registerFormSignUp"
            action="#"
         >
            <h2 class="register-form__tite">Create Account</h2>
            <div class="social__container">
               <button
                  id="socialBtnGoogleRegister"
                  type="button"
                  class="social__btn social__btn--google"
               ></button>
            </div>
            <span class="register-form__text"
               >or use your email for registration</span
            >
            <input
               class="register-form__input"
               id="txtNameRegister"
               type="text"
               name="name"
               placeholder="Name"
               required
            />
            <input
               class="register-form__input"
               id="txtEmailRegister"
               type="email"
               name="email"
               placeholder="Email"
               required
            />
            <input
               class="register-form__input"
               id="txtPasswordRegister"
               type="password"
               name="password"
               placeholder="Password"
               required
            />
            <button id="btnSignUpBtn" class="register-form__btn" type="submit">
               Sign Up
            </button>
         </form>
      </div>
      <div class="register-form__container sign-in-container">
         <form
            class="register-form__sign-in"
            name="form"
            id="registerFormSignIn"
         >
            <h2 class="register-form__tite">Sign in</h2>
            <div class="social__container">
               <button
                  id="socialBtnGoogleLogin"
                  type="button"
                  class="social__btn social__btn--google"
               ></button>
            </div>
            <span class="register-form__text">or use your account</span>
            <input
               class="register-form__input"
               id="txtEmailLogin"
               type="email"
               name="email"
               placeholder="Email"
               required
            />
            <input
               class="register-form__input"
               id="txtPasswordLogin"
               type="password"
               name="password"
               placeholder="Password"
               required
            />
            <div id="divLoginError" class="errorlabel">Error message</div>
            <a class="register-form__link" href="#">Forgot your password?</a>
            <button id="btnLoginBtn" class="register-form__btn" type="submit">
               Sign In
            </button>
         </form>
      </div>
      <div class="overlay-container">
         <div class="overlay">
            <div class="overlay-panel overlay-left">
               <h1 class="register-form__tite">Welcome Back!</h1>
               <p class="register-form__pre-tite">
                  To keep connected with us please login with your personal info
               </p>
               <button class="register-form__btn ghost" id="signInBtn">
                  Sign In
               </button>
            </div>
            <div class="overlay-panel overlay-right">
               <h1 class="register-form__tite">Hello, Friend!</h1>
               <p class="register-form__pre-tite">
                  Enter your personal details and start journey with us
               </p>
               <button class="register-form__btn ghost" id="signUpBtn">
                  Sign Up
               </button>
            </div>
         </div>
      </div>
   </div>
</div>
