.header {
	position: relative;
	@media screen and (min-width: 320px) {
		margin-bottom: 150px;
	}
	@media screen and (min-width: 425px) {
		margin-bottom: 130px;
	}
	@media screen and (min-width: 768px) {
		margin-bottom: 40px;
	}
	@media screen and (min-width: 1024px) {
		margin-bottom: 0;
	}
	&__dropdown {
		position: absolute;
		bottom: -73px;
		left: 50%;
		transform: translateX(-50%);
		display: block;
		background: transparent;
		&:hover {
			cursor: pointer;
		}
	}

	&__dropbtn {
		width: 0;
		height: 0;
		border-left: 15px solid transparent;
		border-right: 15px solid transparent;
		border-top: 10px solid $btn-color;
		background: transparent;
		&:before {
			content: "GENRES";
			position: absolute;
			top: -20px;
			left: 50%;
			font-size: 18px;
			font-weight: 500;
			color: $secondary-color;
			transform: translateX(-50%);
		}
	}
	&__dropdown-content {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		margin: 0 auto;
		padding: 0px 20px;
		position: absolute;
		overflow: hidden;
		height: 0px;
		top: 0;
		left: 50%;
		background: transparent;
		transition: $transition;
		transform: translateX(-50%);
		@media screen and (min-width: 320px) {
			width: 320px;
			font-size: 12px;
		}
		@media screen and (min-width: 425px) {
			width: 425px;
		}

		@media screen and (min-width: 768px) {
			width: 768px;
			padding-left: 32px;
			padding-right: 32px;
			font-size: 14px;
		}

		@media screen and (min-width: 1024px) {
			width: 1024px;
		}
	}
	&__dropdown-btn {
		margin: 5px;
		padding: 5px 10px;
		background: rgba(0, 0, 0, 0.39);
		box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.425);
		border-radius: 10px;
		transition: $transition;
		&:hover {
			cursor: pointer;
			transform: scale(1.05);
		}
		&.activeBtn {
			background: $btn-color;
		}
	}
}
.header.library__background .header__dropdown {
	display: none;
}
.dark .header__dropbtn {
	border-top: 10px solid rgb(212, 212, 212);
}
.header__dropdown:hover .header__dropdown-content {
	padding-top: 10px;
	padding-bottom: 10px;
	@media screen and (min-width: 320px) {
		height: 180px;
	}
	@media screen and (min-width: 425px) {
		height: 148px;
	}
	@media screen and (min-width: 768px) {
		height: 122px;
	}
	@media screen and (min-width: 1024px) {
		height: 88px;
	}
}
.ua.header__dropbtn{
	&:before {
		content: "Жанри";
		position: absolute;
		top: -20px;
		left: 50%;
		font-size: 20px;
		font-weight: 500;
		color: $secondary-color;
		transform: translateX(-50%);
	}
}