.gallery {
	min-height: 70vh;
	&__list {
		padding: 20px 0;

		@media screen and (min-width: 768px) {
			padding: 80px 0;
		}
	}
}

.film-card {
	min-width: 100%;
	overflow: hidden;
	border-radius: 5px;
	border: 1px solid rgba(223, 223, 223, 0.39);
	transition: $transition;

	&:hover,
	&:focus {
		cursor: pointer;
		box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.459);
	}

	&__img-wrap {
		width: 100%;
		margin-bottom: 10px;

		@media screen and (min-width: 320px) {
			height: 402px;
		}

		@media screen and (min-width: 480px) {
			height: 520px;
		}

		@media screen and (min-width: 768px) {
			height: 455px;
		}

		@media screen and (min-width: 1024px) {
			height: 449px;
		}
	}

	&__img {
		height: 100%;
		object-fit: cover;

		transition: $transition;
	}

	&__title {
		@include font(500, 12, 16);
		color: $primary-color;
		text-transform: uppercase;
		margin-bottom: 5px;
		padding: 0 10px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	&__wrap {
		padding: 0 10px;
		margin-bottom: 10px;
	}

	&__info {
		@include font(500, 12, 16);
		color: $accent-color;
		margin-right: 5px;
	}

	&__rating {
		@include font(500, 12, 14);
		color: $secondary-color;

		background: $accent-color;
		border-radius: 5px;
		padding: 1px 6px;
	}
}

.dark .film-card__title {
	color: $secondary-color;
}

.dark .film-card:hover {
	cursor: pointer;
	box-shadow: 0px 0px 12px 0px $secondary-color;
}

.camera-template {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-image: url("../images/library/camera-template/camera.webp");
	text-align: center;
	font-weight: 700;
	color: $primary-color;
	font-size: 32px;
}
#myLibraryTemplateText {
	text-shadow: 0 0 5px $accent-color;
}
