.header {  
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url('../images/home/mobile/header-bg-home-mobile.jpg');

      @media screen and (min-width: 1024px) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        url('../images/home/desktop/header-bg-home-desktop.jpg');
      }
      @media screen and (min-width: 768px) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        url('../images/home/tablet/header-bg-home-tablet.jpg');
      }
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;


    &.library__background {
      background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        url('../images/library/header-bg-mobile/header-bg-mobile.jpg');
        @media screen and (min-width: 1024px) {
          background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
          url('../images/library/header-bg-desktop/header-bg-desktop.jpg');
        }
        @media screen and (min-width: 768px) {
          background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
          url('../images/library/header-bg-tablet/header-bg-tablet.jpg');
        }
      }


  
   
  }
  .header__nav {
    display: flex;
    justify-content: space-between;
  }
  .header__logo {
    @include font(500, 30, 35);
    // 35px, 1.16
    display: flex;
    align-items: center;
    text-align: center;
  
    color: $secondary-color;
  }
  
  .header__icon {
    margin-right: 10px;
  }
  
  .header__list {
    display: flex;
  }
  .header__item {
    margin-left: 40px;
  }
  .header__btn {
    background-color: transparent;
    border: none;
    @include font(500, 12, 20);
    // 1.17, 20px
  
    text-transform: uppercase;
    position: relative;
  
    color: $secondary-color;
  
    &.current::after {
      content: '';
      width: 100%;
      height: 3px;
      display: block;
      position: absolute;
      bottom: -3px;
      background-color: $accent-color;
    }
  }
  .header__div {
    margin-top: 47px;
    display: flex;
    justify-content: center;
  }
  .input-error {
    
    margin-top: 20px;
    display: flex;
    justify-content: center;

    @include font(400, 14, 16);
    //  1.14, 16px
    align-items: center;
    text-align: center;
    color: #ff001b;
  }
  .form__label {
    position: relative;
  }
  .form__input {

    width: 280px;
    color: $secondary-color;    
    background-color: transparent;
  
    @media screen and (min-width: 768px) {
      width: 336px;
    }
  }
  .form__input::placeholder {
   
    @include font(400, 14, 16);
    // 1.14, 16px
    display: flex;
    align-items: center;
  
    color: $secondary-color;
  }
  
  .form__btn {
    background-color: transparent;
    border: none;
    border-bottom: 0.5px solid #818181;
    line-height: 0;
    position: relative;
    bottom: 0;
    right: 13px;
  }
  
  .form__input:focus-within {
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 0.5px solid #818181;
  }
  
  .header__filmoteka {
    color: $secondary-color;
    @media screen and (max-width: 767px) {
      display: none;
      position: absolute;
    }
  }
  
  .header__btns-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
  
  .library__btns-list {
    display: inline-flex;
    justify-content: center;
  }
  
  .library__btns-item {
    display: block;
    &:not(:first-child) {
      margin-left: 16px;
    }
  }
  
  .library__btn {
   
    @include font(500, 12, 16);
    // 1.33, 16px

    color: $secondary-color;
  
    width: 147px;
    height: 42px;
  
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    justify-content: center;
  
    background: rgba(0, 0, 0, 0.56);
    
  
    border: 1px solid $secondary-color;
    border-radius: 5px;
  }
  
  .library-btn.active {
    background: #ff6b01;
    border: #ff6b01;
    box-shadow: $box-shadow;
  }
  .display-none {
    display: none;
  }
  

  .visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }


  