.language-container{
    display: flex;
    color: #000;
}




.language{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    // display: block;
    width: 20px;
    height: 20px;
    // background-color: #fff;
}
// .en{
//     margin-left: 10px;
// }