#preloader {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: #222;
   transition: 1s all;
   opacity: 1;
   visibility: visible;
   z-index: 2;

   #loader {
      display: block;
      position: relative;
      left: 50%;
      top: 50%;
      width: 150px;
      height: 150px;
      margin: -75px 0 0 -75px;
      border-radius: 50%;
      border: 3px solid transparent;
      border-top-color: #9370db;
      -webkit-animation: spin-loader 2s linear infinite;
      animation: spin-loader 2s linear infinite;
   }
   &.done {
      opacity: 0;
      visibility: hidden;
   }
}
#loader:before {
   content: '';
   position: absolute;
   top: 5px;
   left: 5px;
   right: 5px;
   bottom: 5px;
   border-radius: 50%;
   border: 3px solid transparent;
   border-top-color: #ba55d3;
   -webkit-animation: spin-loader 3s linear infinite;
   animation: spin-loader 3s linear infinite;
}
#loader:after {
   content: '';
   position: absolute;
   top: 15px;
   left: 15px;
   right: 15px;
   bottom: 15px;
   border-radius: 50%;
   border: 3px solid transparent;
   border-top-color: #ff00ff;
   -webkit-animation: spin-loader 1.5s linear infinite;
   animation: spin-loader 1.5s linear infinite;
}
@-webkit-keyframes spin-loader {
   0% {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
   }
   100% {
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
   }
}
@keyframes spin-loader {
   0% {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
   }
   100% {
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
   }
}
