.pagination {
   &__list {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: -8px;
      margin-left: -8px;
   }

   &__item {
      margin-right: 8px;
      margin-left: 8px;

      &--hidden {
         @extend .pagination__list;
         @media screen and (max-width: 767px) {
            display: none;
         }
      }

      &--left {
         margin-right: 20px;
      }

      &--right {
         margin-left: 20px;
      }
      &--current {
         width: 40px;
         height: 40px;
      }
   }

   &__btn {
      border-radius: 5px;
      @include font(500, 12, 16);
      color: $primary-color;
      background-color: transparent;

      &--current {
         width: 40px;
         height: 40px;
         background-color: $accent-color;
         color: $secondary-color;
      }

      &--left {
         @extend .pagination__list;
         border-radius: 5px;
         width: 40px;
         height: 40px;
      }
      &--right {
         @extend .pagination__btn--left;
      }
   }
   &__icon {
      @extend .pagination__list;
   }
}
