.trailer__play-btn {
    background-color: transparent;
    position: absolute;
    bottom: 0;
    right: 0;
}

.trailer__svg {
    width: 60px;
    height: 40px;
    fill: rgba(248, 0, 0, 0.7);
    transition: $transition;

    &:hover,
    &:focus {
        fill: #f00;
    }
}
.trailer-modal-wrapper{
    border: 1px solid darkgrey;
    border-radius: 6px;
    padding: 3px;
    background-color: #fff;
}