.trailer__play-btn {
	background: url('../images/youtube.svg'); 
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	// background: rgba(248, 0, 0, 0.7);
	position: absolute;
	bottom: 5px;
	right: 5px;
	width: 60px;
	height: 40px;
	animation: pulse 1500ms infinite;
	transition: $transition;
		@keyframes pulse {
			0% {
				transform: scale(1);
			}
			50% {
				transform: scale(1.1);
			}
		}
	&:hover,
	&:focus {
		animation: none;
	}
}

.trailer-modal-wrapper {
	width: calc(100% - 60px);
	height: 145px;
	@media screen and(min-width: 480px) {
		width: 399px;
		height: 225px;
	}
	@media screen and(min-width: 768px) {
		width: 658px;
		height: 370px;
	}
	@media screen and(min-width: 1024px) {
		width: 812px;
		height: 448px;
	}
}
